<!DOCTYPE html>
<html>
<head>
    <title>Borrowing History</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2>Borrowing History</h2>
    <p class="text-black" >
        view all borred and returned books
    </p>

    <table class="table table-scripted table-hover table-bordered shadow">

        <tr>
            <th>Book</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Returned</th>
            <th>Status</th>
            <th>Fine</th>
        </tr>

        {% for record in records %}

        <tr>
            <td>{{ record.book }}</td>

            <td>{{ record.borrow_date }}</td>

            <td>{{ record.due_date }}</td>

            <td>{{ record.return_date }}</td>

            <td>

                {% if record.returned %}

                <span class="badge bg-success">
                    Returned
                </span>
                {% else %}
                <span class="badge bg-warning text-dark">
                    Borrowed
                </span>
                {% endif %}
            </td>
            <td>
                ₹{{ record.fine }}
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>